nav.app-nav ul li a img {
  vertical-align: middle;
  margin-right: 5px;
  width: 50px;
}

.markdown-section blockquote {
  margin: 20px 0 !important;
  background-color: #f5f8fc;
  padding: 1rem;
  color: #8796a8;
  border-left: none;
}

.markdown-section blockquote p {
  margin: 0.5em 0;
  font-weight: 400;
}

.markdown-section a {
  color: #1775cc;
  font-weight: 400;
  text-decoration: none;
}

.markdown-section a:hover, .markdown-section a:focus {
  color: #0081f9;
}

@media screen and (max-width: 768px) {
  .app-nav {
    display: none;
  }
}

.font-red {
  color: #ff502c;
  background-color: #fff5f5;
}

.font-gray {
  color: #A5A5A5;
}

.font-blue {
  color: #3c6ea8;
}

.bg-gray {
  background-color: #f8f8f8;
}

.bg-red {
  background-color: tomato;
}

details {
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color:rgba(73,177,245,0.1);
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

summary {
    cursor: pointer;
    padding: 20px 0px 20px 16px;
    margin-left: -16px;
    margin-right: -16px;
    font-size: 0.875rem !important;
    font-weight: 600;
    position: relative;
    line-height: normal;
    background-color: rgba(73,177,245,0.1);
}

@font-face {
    font-family: 'ZhuZiAWan';
    /* 字体名自定义即可 */
    src: url(fonts/ZhuZiAWan.woff2);
    /* 字体文件路径 */
    font-display: swap;
}

body {
    font-family: ZhuZiAWan !important;
}
